img {
  width: 70px;
}

ul {
  display: flex;
}

ul li {
  border: 10px;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  list-style-type: none;
  align-self: center;
  background-color: rgba(0, 235, 235, 0.833);
}

h3 {
  align-self: center;
}

.container {
  display: flex;
  margin: 40px;
}

.item3 {
  flex-grow: 2;
  justify-content: flex-end;
}
