img {
  width: 80px;
}

ul {
  display: flex;
}

ul li {
  border: 10px;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  list-style-type: none;
  align-self: center;
  background-color: rgba(0, 220, 220, 0.64);
}

.name {
  margin: 10px;
  border: 10px;
  padding: 10px;
}

.container {
  display: flex;
  margin: 20px 150px;
  justify-content: space-between;
}

.item1 {
  display: flex;
}

.item2 {
  display: flex;
  margin: 10px;
}
