.container {
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.card {
  width: 30%;
  margin: 20px;
  background: grey;
  border-radius: 20px;
}

h4 {
  display: flex;
  padding: 30px 30px 10px 50px;
}

ul {
  display: block;
  padding: 0px;
  margin: 0px;
}

.topDiv {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: 0 7% 110px 7%;
}

.botDiv {
  display: flex;
  flex-direction: column;
  margin: 0 7%;
}

.button {
  background-color: aqua;
  border-radius: 20px;
  margin: 15px;
  align-self: flex-end;
  padding: 10px;
  border: 10px;
  border-radius: 10px;
}

.cardsContainer {
  display: flex;
}
